/* <----- Navigation -----> */

body{
    font-family: 'Mukta', sans-serif;
    font-family: 'Outfit', sans-serif;
}

#box1{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 100%;
    height: 43px;
}

.bnd{
    height: 35px;
}

.lnk{
    width: 422px;
    height: 21px;
}

.lnk li{
    list-style-type: none;
    display: inline;
    padding: 10px;
}

.lnk li a{
    text-decoration: none;
    color: black;
}

button{
    font-family: 'Mukta', sans-serif;
    font-weight: 600;
    border: 1px solid black;
    background-color: black;
    color: white;
    width: 102px;
    height: 43px;
    border-radius: 30px;
}

button:hover{
    border: 1px solid black;
    background-color: transparent;
    color: black;
    width: 102px;
    height: 43px;
    border-radius: 30px;
    transition: 0.8s;
}

/* <----- Hero -----> */

#box2{
    padding-top: 87px;
    padding-bottom: 93px;
    padding-left: 165px;
    padding-right: 165px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#box2 img {
    border-radius: 12px;
}

.medium{
    text-transform: capitalize; 
    font-style: normal;
    font-size: 59px;
    font-weight: 900;
    line-height: 59px;
    width: 478px;
}

.coast {
    width: 433px;
    height: 55px;
    font-size: 18px;
    line-height: 28px;
}

/* <----- Features -----> */

#box3 {
    background-color: #ceb0cc;
    padding: 0;
}

.eclipse1, .eclipse2, .eclipse3 {
    width: 350px;
    height: 140px;
    text-align: center;
}

.eclipse1, .eclipse2 {
    padding-right: 28px;
}

.ex1 {
    position: relative;
    padding-left: 115px;
}

.ex1 h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.ex1 h2::before{
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    left:65px;
}

.eltotal {
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
}

/* <----- Contents Reference -----> */

#box4 {
    background-color: black;
}

.semi {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 80px 167px 67px;
}

.refer {
    color: white;
    width: 510px;
    height: 350px;
}

.vistor {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 100%;
    text-transform: capitalize;
}

.coast {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.yolo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 18px;
    gap: 8px;
}

#box4 img {
    border-radius: 20px;
}

/* <----- Testimonial -----> */

#box5 {
    /* width: 1109px; */
    height: 495px;
    padding: 80px 166px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.group4, .group5, .group6 {
    background-color: black;
    /* width: 349px;
    height: 411px; */
}

.group4, .group5 {
    margin-right: 30px;
}

.group4, .group5, .group6 {
    color: white;
    text-align: center;
}

#box5 .group4 img {
    border-radius: 50%;
}

.Logo {
    width: 160px;
    height: 36px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 0 95px;
}

#box5 .group5 img {
    border-radius: 50%;
}

#box5 .group6 img {
    border-radius: 50%;
}

.group4 p {
    width: 286px;
    padding: 0 31px;
}

.group5 p {
    width: 286px;
    padding: 0 31px;
}

.group6 p {
    width: 286px;
    padding: 0 31px;
}
